/* Header.css */

.header {
  background-color: #2c2c3b;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header-img {
  width: fit-content; /* Adjust width as needed */
  object-fit: cover;
  margin-left: 18%;
}

.header-p {
  margin: 10;
  font-size: 1.5rem;
  color: #320808;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

.body-img {
  width: 50%; /* Adjust width as needed */
  object-fit: cover;
  margin-left: 22%;
}
